<configuration>
	<appSettings>
		<add key="PrimaryConnectionString" value="HostName=AbdinIOThub.azure-devices.net;DeviceId=cec95419-748a-423a-a9ce-bc9f6c9e6e9a;SharedAccessKey=SeFps8MV4pTBV/5hrcsW28Nlz7/j934q0IiFTBU9XZw=" />
		<add key="SecondaryConnectionString" value="HostName=AbdinIOThub.azure-devices.net;DeviceId=cec95419-748a-423a-a9ce-bc9f6c9e6e9a;SharedAccessKey=dK5IfhX+skQesRbGEMrmqtafYSyOLkfm6ayp2kIp3jw=" />
		<add key="DeviceId" value="cec95419-748a-423a-a9ce-bc9f6c9e6e9a" />
	</appSettings>
</configuration>